* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
.starter-head{
    margin-top: 0px;
    height: 48px;
    padding-right: 0px;
    padding-left: 0px;
    transform: translateY(0px);
    background-color: rgb(151, 2, 10);
    border-color: rgb(151, 2, 10);
    transition: .2s cubic-bezier(.4,0,.2,1);
    color: #fff;
    z-index: 3;
    top: 0;
    left: 0;
    position: fixed;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    width: 100%;
    will-change: padding-left,padding-right;

}

.starter-head .container-inside{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 24px;
}
.starter-head .container-inside .header{
    display: flex;
    align-items: center;

}
.starter-head .container-inside .header .header-text{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .02em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #212121;
    color: #fff;
}
.starter-head .container-inside  .empty-space{
    -webkit-box-flex: 1!important;
    -ms-flex-positive: 1!important;
    flex-grow: 1!important;
}